language: node_js
sudo: false
node_js:
  - '6'
  - '7'
cache: yarn
install:
  - npm i chat-engine react-native
  - npm i
script:
  - gulp test
after_success:
  - npm install codecov codacy-coverage
  - cat ./coverage/lcov.info | node_modules/.bin/codacy-coverage